.header {
  background-color: lime;
  position: sticky;
  color: #000 !important;
}

.brand {
  color: white !important;
  background-color: #000;
}
.brand:hover {
  color: lime;
}

.navButton {
  color: #000;
  font-weight: 550;
  display: flex;
  justify-content: center; /* horizontal text align */
  align-items: center; /* Vertical text align */
}

.navButton:hover {
  color: red;
  text-decoration: none;
}

.activeNavButton {
  background-color: black;
  color: white;
}
.activeNavButton:hover {
  color: lime;
}
